<div class="container mt-5">
    <div class="row">


  <!--<div class="col">!-->
      <h3 class="mb-3">Hard Skills & Soft Skills</h3>

      <div class="col-lg 2">
        <button type="button" class="btn btn-light" routerLink="/newskill" *ngIf="isLogged">
          Nueva skill
        </button>
      </div>
        <!--<div class="card mb-3">!-->
          <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">


            <circle-progress
              [percent]="(skill.porcentaje)"
              [radius]="60"
              [showUnits]="false"
              [title]="(skill.nombre)"
              [showSubtitle]="false"
              [outerStrokeWidth]="2"
              [innerStrokeWidth]="2"
              [outerStrokeColor]="'#76C2AF'"
              [innerStrokeColor]="'#e7e8ea'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>

          <div>

            <td *ngIf="isLogged">
              <button class="btn btn-light" routerLink="/editskill/{{skill.id}}"><i class="bi bi-pencil-fill"></i></button></td>
            <td *ngIf="isLogged">
              <button class="btn btn-danger" (click)="delete(skill.id)"><i class="bi bi-trash"></i></button>
            </td>
          </div>

          </div>
        </div>
</div>





          <!--<div class="text-center col-sm-4 col-md-4 col-lg-4">


            <circle-progress
              [percent]="90"
              [radius]="60"
              [showUnits]="false"
              [title]="'CSS'"
              [showSubtitle]="false"
              [outerStrokeWidth]="2"
              [innerStrokeWidth]="2"
              [outerStrokeColor]="'#76C2AF'"
              [innerStrokeColor]="'#e7e8ea'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
          </div>
          <div class="text-center col-sm-4 col-md-4 col-lg-4">


            <circle-progress
              [percent]="80"
              [radius]="60"
              [showUnits]="false"
              [title]="'JS'"
              [showSubtitle]="false"
              [outerStrokeWidth]="2"
              [innerStrokeWidth]="2"
              [outerStrokeColor]="'#76C2AF'"
              [innerStrokeColor]="'#e7e8ea'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
          </div>
          <div class="text-center col-sm-4 col-md-4 col-lg-4">


            <circle-progress
              [percent]="90"
              [radius]="60"
              [showUnits]="false"
              [title]="'MySQL'"
              [showSubtitle]="false"
              [outerStrokeWidth]="2"
              [innerStrokeWidth]="2"
              [outerStrokeColor]="'#76C2AF'"
              [innerStrokeColor]="'#e7e8ea'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
          </div>
          <div class="text-center col-sm-4 col-md-4 col-lg-4">


            <circle-progress
              [percent]="95"
              [radius]="60"
              [showUnits]="false"
              [title]="'Compañerismo'"
              [titleFontSize]="'0.9em'"
              [showSubtitle]="false"
              [outerStrokeWidth]="2"
              [innerStrokeWidth]="2"
              [outerStrokeColor]="'#76C2AF'"
              [innerStrokeColor]="'#e7e8ea'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
          </div>
          <div class="text-center col-sm-4 col-md-4 col-lg-4">


            <circle-progress
              [percent]="95"
              [radius]="60"
              [showUnits]="false"
              [title]="'Trabajo en equipo'"
              [titleFontSize]="'0.80em'"
              [showSubtitle]="false"
              [outerStrokeWidth]="2"
              [innerStrokeWidth]="2"
              [outerStrokeColor]="'#76C2AF'"
              [innerStrokeColor]="'#e7e8ea'"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
          </div>


    /div>!-->




