<div class="container mt-5">
    <div class="row">


<div class="col">
    <h3 class="mb-3">Habilidades</h3>

    <div class="card mb-3">
        <div class="card-body">
            <div class="mx-3">
                <h4>Front End</h4>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JS</li>
                    <li>Angular</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-body">
            <div class="mx-3">
                <h4>Back End</h4>
                <ul>
                    <li>Node JS</li>
                    <li>MySQL</li>
                    <li>API's</li>
                </ul>
            </div>
        </div>
    </div>
  </div>
  
    </div>
</div>
