<div class="container mt-5">
    <h3>Proyectos Previos</h3>
    <div class="row">
        <div class="col-lg-3">
            <div class="card m-b-3">
                <img src="assets/img/imgporfolio 2.jpg" alt="Página Web" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Página Web</h5>
                    <p class="card-text">Desarrollo de una página web de un comercio de artesanías, front end utilizando HTML, CSS, Bootstrap, JS</p>
                    <a class="btn btn-primary" type="button" href="https://github.com/eescalada">Github</a>
                  
                </div>
            </div>
        </div>
    </div>
  </div>
