<div class="container my-5">
    <div class="row">
        <div class="col-md-2">
          <img class="rounded float-start" src="assets/img/foto-eliana-porfolio.jpeg" alt="Foto perfil">
        </div>
        <div class="col-md-10">
          <h1>{{miPorfolio.name}}</h1>
          <a href="mailto:elisolesc@yahoo.com.ar" type="button" class="btn btn-outline-primary">
          elisolesc@yahoo.com.ar
          </a>
          <p class="lead">
          {{miPorfolio.position}}
          </p>
        </div>
    </div>
  </div>
