<app-header></app-header>

<app-encabezado></app-encabezado>

<app-nav></app-nav>

<app-educacion></app-educacion>

<app-habilidades></app-habilidades>

<app-proyectos-previos></app-proyectos-previos>

<!--<div class="container mt-5">
  <div class="row">
      <div class="col">
          <h3 class="mb-3">Experiencia</h3>
          <div class="card mb-3">
              <div class="card-body">
                  <div class="mx-3">
                      <h4>Nombre de la empresa 1</h4>
                  <div><strong>fecha desde hasta</strong></div>
                      Front end y back end usando HTML, CSS, JavaScript.
                  </div>
                  <ul class="list-group list-group-flush mt-2">
                      <li class="list-group-item">descripcion tarea</li>
                      <li class="list-group-item">descripcion tarea</li>
                      <li class="list-group-item">descripcion tarea</li>
                  </ul>
              </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
                <div class="mx-3">
                    <h4>nombre de la empresa 2</h4>
                <div><strong>fecha desde-hasta</strong></div>
                Front end y back end usando HTML, CSS, JavaScript.
                </div>
                <ul class="list-group list-group-flush mt-2">
                    <li class="list-group-item">descripcion tarea</li>
                    <li class="list-group-item">descripcion tarea</li>
                    <li class="list-group-item">descripcion tarea</li>
                </ul>
            </div>
           </div>
      </div>
    </div>
        
</div>-->

