<div class="container mt-5">
  <div class="row">
      <div class="col">
          <h3 class="mb-3">Experiencia Laboral</h3>
          <div class="col-lg-2">
            <button type="button" class="btn btn-light" routerLink="/nuevaexp" *ngIf="isLogged">
              Nueva Experiencia
            </button>
          </div>

          <div class="card mb-3">
              <div class="card-body">
                  <div class="mx-3">
                    <div class="col lg 1"></div>
                    <div class="col-lg-11">
                        <table class="table">
                          <tbody>
                            <tr *ngFor="let Experiencia of expe">
                              <td><h5>{{Experiencia.nombreE}}</h5></td>
                              <td>{{Experiencia.descripcionE}}</td>
                              <td *ngIf="isLogged">
                                <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}"><i class="bi bi-pencil-fill"></i>EDITAR</button></td>
                              <td>BORRAR
                              </td>

                            </tr>
                          </tbody>
                        </table>
                    </div>
                      <!--<h4>Nombre de la empresa 1</h4>

                      <div><strong>fecha desde hasta</strong></div>
                      Front end y back end usando HTML, CSS, JavaScript.
                  </div>
                  <ul class="list-group list-group-flush mt-2">
                      <li class="list-group-item">descripcion tarea</li>
                      <li class="list-group-item">descripcion tarea</li>
                      <li class="list-group-item">descripcion tarea</li>
                  </ul>
              </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
                <div class="mx-3">
                    <h4>Nombre de la empresa 2</h4>
                <div><strong>fecha desde-hasta</strong></div>
                Front end y back end usando HTML, CSS, JavaScript.
                </div>
                <ul class="list-group list-group-flush mt-2">
                    <li class="list-group-item">descripcion tarea</li>
                    <li class="list-group-item">descripcion tarea</li>
                    <li class="list-group-item">descripcion tarea</li>
                </ul>!-->
                  </div>
            </div>
           </div>
      </div>
    </div>

</div>
