<header class="container">
    <!--<div class="container">-->
        <div class="row">
            <div class="d-flex align-items-center col-2">
              <img id="logo-ArgentinaPrograma"   src="assets/img/logoAP.jpg" alt="Logo Argentina Programa">
            </div>
            <div class="col-10">
              <ul class="header">
                  <li>
                    <a href="https://www.linkedin.com/in/eliana-escalada-silvera-18956a142/" target="_blank">
                      <i class="fa fa-linkedin"></i> <!--íconos de FontAwesome-->
                    </a>

                  </li>
                  <li>
                      <a href="https://api.whatsapp.com/send?phone=+5493515307903" target="_blank">
                          <i class="fa fa-whatsapp"></i>
                      </a>

                  </li>
                  <li>
                      <button type="button" class="btn btn-outline-primary" (click)="login()">Login</button>
                  </li>
              </ul>


            </div>
        </div>

    <!--</div>-->
    <div class="container">
        <div class="row">
            <img  id="banner"  src="assets/img/fondoBanner3.jpg" alt="Banner">

        </div>

    </div>

  </header>

